@{
    ViewBag.Title = "Process Product Tasks";
}



<p>@ViewBag.Validation</p>
<p>@ViewBag.Pricing</p>
<p>@ViewBag.Description</p>
<p>@ViewBag.Discount</p>
<p>@ViewBag.Inventory</p>
<p>@ViewBag.Shipping</p>
<br />

<h2>Execution Time: @ViewBag.WatchMilliseconds milliseconds</h2>
